@page "/meets/{year:int?}"

@using System.Globalization
@using KRAFT.Results.Contracts.Meets
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager

<nav class="year-nav">
    <NavLink class="year-btn" href="@($"/meets/{Year - 1}")" aria-label="Fyrra ár">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
        </svg>
    </NavLink>

    <div class="year-display">
        <span class="year-label">Mótaskrá</span>
        <span class="year-value">@Year</span>
    </div>

    <NavLink class="year-btn" href="@($"/meets/{Year + 1}")" aria-label="Næsta ár">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
    </NavLink>
</nav>

@foreach (var group in Meets.GroupBy(x => x.StartDate.ToString("MMMM", CultureInfo.CurrentCulture)))
{
    <h4>@($"{char.ToUpper(group.Key[0])}{group.Key[1..]}")</h4>
    @foreach (var meet in group)
    {
        <article class="meet-item">
            <div class="date-box">
                @meet.StartDate.ToString("dd")
            </div>
            <div>
                <NavLink class="nav-link" href="@($"/meets/{meet.Slug}")">
                    <div class="index-item-title">@meet.Title</div>
                </NavLink>
                <div class="location">
                    <svg class="location-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    @meet.Location
                </div>
            </div>
        </article>
    }
}

@code {
    [Parameter]
    public int Year { get; set; }

    private IReadOnlyCollection<MeetSummary> Meets = [];

    protected override async Task OnInitializedAsync()
    {
        if (Year == 0)
        {
            Year = DateTime.Now.Year;
        }

        Meets = await HttpClient.GetFromJsonAsync<IReadOnlyCollection<MeetSummary>>($"/meets?year={Year}") ?? [];
    }
}
